<%# content_for :header, @article.title %>
<header class="show-entry-page-title">Entry Title</header>
<img class="show-entry-image" src="" alt="Entry photo">
<div class="show-entry-title-container">
  <h1 class="show-entry-title">Entry 1</h1>
  <h3 class="show-entry-prompt">I appreciate you when...</h3>
  <img class="edit-icon">
  <img class="share-icon">
</div>
<hr>
<div class="entry-content-text">Lorem ipsum</div>